<meta charset="UTF-8">
<title><%- typeof title != 'undefined' ? title : 'EJS' %> - Node Project</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/main.css">
