<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%- typeof title != 'undefined' ? title : 'EJS' %> - Node Project</title>
<link rel="stylesheet" href="../libs/css/bootstrap.min.css">
<link rel="stylesheet" href="../libs/css/all.min.css">
<link rel="stylesheet" href="../css/main.css">
