<%- contentFor('title') -%>
About
<%- contentFor('body') -%>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </div>

    <div class="col-sm-4">
        <%- include('../partials/sidebar'); %>
    </div>
</div>